<!doctype html>
<html lang="en">
        <form>
            <label for="old-pass">原密码</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" class="form-control" name="old-pass" id="old-pass" placeholder="请输入原密码">
                </div>

            <label for="new-pass">新密码</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                <input type="password" class="form-control" name="new-pass" id="new-pass" placeholder="请输入新密码">
            </div>

            <label for="re-pass">原密码</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                <input type="password" class="form-control" name="re-pass" id="re-pass" placeholder="请输入原密码">
            </div>
        </form>
</html>